@model VideoShare.Client.Models.UserViewModel

<div class="jumbotron jumbotron-fluid bg-dark">

    <div class="container text-white">

        <h1 class="display-4">Hello, @Model.Username!</h1>
        <hr class="my-4">

        <form asp-action="menuchoice" asp-controller="menu" asp-antiforgery="true" method="GET">
            <div class="form-group">
                <button 
                    class="btn btn-light" 
                    type="submit" 
                    name="button"
                    value="create"
                >
                    Create Room
                </button>
            </div>
        </form>

    </div>

</div>

