@model VideoShare.Client.Models.MainMenuViewModel

<div class="container">
  @foreach (var item in @Model.Rooms)
  {
    <div class="card">
      <div class="row">
        <div class="card-body col-xs-7">
          <form asp-action="joinroom" asp-controller="menu" asp-antiforgery="true" method="POST">
            <h5>Channel: @item.GetChannelName()</h5>
            <h5>Viewers: @item.Party.Count</h5>
            <button
              type="submit" 
              class="btn btn-danger m-2" 
              name="roomid"
              value=@item.EntityID>
                Join Room
            </button>
          </form>
        </div>
      </div>
    </div> 
  }
</div>