@model VideoShare.Client.Models.EnterRoomViewModel

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      @{
@*         <iframe
          src=@Model.Room.VideoUrl
          height="500"
          width="100%"
          allowfullscreen="true">
        </iframe> *@
      }
      <div id="twitch-embed"></div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-6 m-6">
          <form asp-action="closeroom" asp-controller="menu" asp-antiforgery="true" method="POST">
            <button type="submit" name="id" value=@Model.Room.EntityID class="btn btn-primary">Close</button>
          </form>
        </div>
        <div class="col-xs-6 m-6">
          <form asp-action="mainmenu" asp-controller="menu" method="GET">
            <button type="submit" class="btn btn-primary">Leave</button>
          </form>
        </div>
      </div>
      @await Html.PartialAsync("ChatBox", @Model.User)
    </div>
  </div>
</div>



<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
  new Twitch.Embed("twitch-embed", {
    width: '100%',
    height: '500',
    channel: @Model.Room.GetChannelName()
    parent: ['videos-with-friends.azurewebsites.net']\
  });
</script>
