@model VideoShare.Client.Models.StreamViewModel
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    // <channel, video, or collection> is input as channel=channel_name etc.
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.twitch.tv/?user_name" allowfullscreen></iframe>
        </div>
</body>
</html>