<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @foreach(var item in Model)
        {
        <div class="col-sm-4 col-md-4 col-xs-12">
            <div class="modal-title" style="width:250px;">@item.Name</div>
            <hr />
            <div class="video-frame">
                <video style="width:250px; height:150px;" controls>
                    <source src="@Url.Content(item.ContentUrl)" type="video/mp4" />
                </video>
            </div>
        </div>
        }
    </div>
</body>
</html>